body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fdccdf;
  margin: 0;
  font-family: Arial, sans-serif;
  z-index: 0;
  position: relative;
  min-height: 100vh;
  width: 100%;
  font-family: "Shadows Into Light", cursive;
}

body::before{
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-image: url('images/kissmark-overlay.png');
  background-size: 150%;
  opacity: 0.35;
  z-index: -1;
}

h1{
  text-align: center;
  color: rgb(141, 43, 60);
  width: 85%;
  margin: 0 auto;
  margin-bottom: 3rem;
  margin-top: 5rem;
}

.pin-container {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: #c24762;
  padding: 2rem;
  border-radius: 2rem;
  box-shadow: 0 4px 8px rgba(53, 25, 34, 0.541);
  position: relative;
  z-index: 0;
  overflow: hidden;
  margin-bottom: 5rem;
}

.pin-container::before{
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-image: url('images/Website 1st Anniv Pics & Vids/24 May 2024.jpg');
  background-size: 100%;
  opacity: 0.5;
  filter: blur(2px);
  z-index: -1;
}

.display {
  margin-bottom: 3rem;
  padding: 1rem 1rem;
  width: 100%;
  height: 20px;
  border: 2px solid #dab2c2;
  background: linear-gradient(rgb(255, 248, 249), rgb(243, 221, 224));
  border-radius: 1rem;
  text-align: right;
  font-size: 2rem;
  letter-spacing: 0.1rem;
  display: flex;
  align-items: center;
  justify-content: end;
  font-weight: 700;
  color: rgb(211, 77, 117);
}

.keypad {
  display: grid;
  grid-template-columns: repeat(3, 60px);
  gap: 1rem;
  place-items: center;
  margin-bottom: 2rem;
}

.keypad .numButton {
  font-family: "Shadows Into Light", cursive;
  padding: 0;
  font-weight: 700;
  color: rgb(253, 247, 247);
  font-size: 1.5rem;
  width: 4rem;
  height: 4rem;
  cursor: pointer;
  border: none;
  background-color: rgb(255, 89, 125);
  transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
  border-radius: 2rem;
  box-shadow: 0 4px 8px rgba(53, 25, 34, 0.541);
  -webkit-tap-highlight-color: transparent;
}

.keypad .numButton:hover {
  background-color: rgb(253, 239, 242);
  color: rgb(255, 89, 125);
}

.keypad .numButton:active{
  background-color: rgb(207, 179, 185);
  color: rgb(255, 46, 91);
  transition: background-color 0.05s ease-in-out, color 0.05s ease-in-out;
}

.numButton.active-effect{
  background-color: rgb(253, 239, 242);
  color: rgb(255, 89, 125);
  transition: background-color 0.02s ease-in-out, color 0.02s ease-in-out;
}

.action-buttons {
  margin-top: 1rem;
}

.action-buttons .enterBtn {
  font-size: 1.5rem;
  font-weight: 700;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  background: #fdb4d0;
  color: #860e32;
  border-radius: 5px;
  transition: background 0.2s;
  font-family: "Shadows Into Light", cursive;
  -webkit-tap-highlight-color: transparent;
}

.action-buttons .enterBtn:hover {
  background: #d898b1;
}

.action-buttons .enterBtn:active {
  background: #860e32;
  color: #fdb4d0;
  transition: background 0.05s ease-in-out, color 0.05s ease-in-out;
}

.enterBtn.active-effect-2{
  background: #860e32;
  color: #fdb4d0;
  transition: background 0.02s ease-in-out, color 0.02s ease-in-out;
}

@media (hover: none){
  .keypad .numButton:hover {
    background-color: rgb(255, 89, 125);
    color: rgb(253, 247, 247);
  }

  .keypad .numButton:active{
    background-color: rgb(253, 239, 242);
    color: rgb(255, 89, 125);
    transition: background-color 0.02s ease-in-out, color 0.02s ease-in-out;
  }

  .action-buttons .enterBtn:hover {
    background: #fdb4d0;
  }

  .action-buttons .enterBtn:active {
    background: #860e32 !important;
    color: #fdb4d0 !important;
    transition: background 0.02s ease-in-out, color 0.02s ease-in-out !important;
  }
}